<ion-content fullscreen class="" scroll-y="false">
  <ion-slides #landingSlider>

    <ion-slide>
      <div class="slide img-slide1">
        <div class="swip-step1" (click)="swipeNext()">Swipe</div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide img-slide2">
        <div class="swip-step1" (click)="swipeNext()">Swipe</div>
    </div>
    </ion-slide>

    <ion-slide>
      <div class="slide img-slide3">
        <div class="swip-step1" routerLink="/login">Login</div>
    </div>
    </ion-slide>

  </ion-slides>
</ion-content>