.reg-title span{
    color: #827f7f;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin: 25px 0px;
}
.reg-sec{
    width: 100%;
    padding: 6px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #d5d5da;
    margin: 10px 0px;
i{
    color: #0815b1;
    font-size: 22px;
    float: left;
    padding: 10px 0px 6px 6px;
    /* margin-left: 5px; */
    margin-right: 0px;
    width: 33px;
}
input{
    width: 83%;
    border: 0px;
}
}
.sub-btn{
    color: #f7f1f1;
    /* border: 1px solid black; */
    border-radius: 50px;
    background-color: #5f58f5;
    margin: 35px 0px;
}
.signup span{
    color: #827f7f;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin-top: 39px;
    // font-weight: bold;
}
.signup a{
    color: #5f58f5;
    font-weight: bold;
}
