<ion-content>
  <div class="row no-margin bg">
    <div class="col-12  reg-title">
      <span>Register</span>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Name">
      </div>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input type="text" class="form-control input-txt" id="formGroupExampleInput2" placeholder="Email">
      </div>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <input type="text" class="form-control input-txt" id="formGroupExampleInput2" placeholder="Phone">
      </div>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input type="password" class="form-control input-txt" id="formGroupExampleInput2" placeholder="Password">
      </div>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input type="password" class="form-control input-txt" id="formGroupExampleInput2" placeholder="Confirm Password">
      </div>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary btn-lg btn-block sub-btn">Submit</button>
    </div>
    <div class="col-12 signup">
      <span class="">Already have an account ?<a routerLink="/login">Login here</a></span>
    </div>

  </div>
</ion-content>