<ion-content>
  <div class="row no-margin">
    <div class="col-12 header-title ">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      <h5>लापता</h5>
    </div>
    <div class="col-12 header-img">
      <img src="../../../assets/kk.png">
    </div>
    <div class="col-12 banner-design">
      <div class="inner-banner-design">
        <i class="fa fa-database" aria-hidden="true"></i>
        <h5 routerLink="/pages/userdetail">लापता की जानकारी भरो</h5>
      </div>
    </div>
    <div class="col-12 banner-design2">
      <div class="inner-banner-design2">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <h5>लापता की पहचान करो</h5>
      </div>
    </div>
    <div class="col-12 banner-design">
      <div class="inner-banner-design">
        <i class="fa fa-camera" aria-hidden="true"></i>
        <h5>मैच करो और खोजो</h5>
      </div>
    </div>
  </div>
</ion-content>