<ion-content>
  <div class="row no-margin">
    <div class="col-12 header-title ">
      <!-- <i class="fa fa-long-arrow-left" aria-hidden="true"></i> -->
      <h5>Missing Person Registration</h5>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">User Name</label>
      <div class="input-box">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="Enter Full Name">  
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">No. of Person</label>
      <div class="input-box">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="Maximum One">  
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Alias</label>
      <div class="input-box">
        <i class="fa fa-podcast" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="Alias">  
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Relatives Name</label>
      <div class="input-box">
        <i class="fa fa-users" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="Enter Relatives Name">  
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Relation Type</label>
      <div class="input-box">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <select id="inputState" class="form-control ">
          <option selected>select</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Address</label>
      <div class="input-box">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="Enter Address">  
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Gender</label>
      <div class="input-box">
        <i class="fa fa-venus" aria-hidden="true"></i>
        <select id="inputState" class="form-control ">
          <option selected>select</option>
          <option>male</option>
          <option>female</option>
          <option>others</option>
        </select>
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Date of Birth</label>
      <div class="input-box" id='datetimepicker1'>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <input type="text" class="form-control date-txt" id="formGroupExampleInput2" placeholder="DOB"> 
        <i class="fa fa-calendar-check-o date-txt-i" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Age Range</label>
      <div class="input-box">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="From --- To ---">  
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Body Type</label>
      <div class="input-box">
        <i class="fa fa-venus" aria-hidden="true"></i>
        <select id="inputState" class="form-control ">
          <option selected>select</option>
          <option>male</option>
          <option>female</option>
          <option>others</option>
        </select>
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Complexion</label>
      <div class="input-box">
        <i class="fa fa-venus" aria-hidden="true"></i>
        <select id="inputState" class="form-control ">
          <option selected>select</option>
          <option>male</option>
          <option>female</option>
          <option>others</option>
        </select>
      </div>
    </div>
    <div class="col-12 top-margin">
      <label class="label-name">Weight</label>
      <div class="input-box">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <input type="text" class="form-control " id="formGroupExampleInput2" placeholder="Enter Weight">  
      </div>
    </div>
    <div class="col-12  top-margin">
      <div class="btn-next">
        Next
      </div>
    </div>
    
  </div>
</ion-content>