.label-name{
    color: #9f1b80;
    font-size: 14px;
}
.input-box {
    border: 1px solid #bdbbbb;
    width: 100%;
    height: 56px;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    i{
        color: #f5eff3;
        font-size: 22px;
        float: left;
        padding: 10px;
        width: 45px;
        height: 45px;
        background-color: #9f1b80;
        background-image: linear-gradient(#9f1b80, #490686);
        border-radius: 50px;
        text-align: center;
    }
    input{
        width: 83%;
        border: 0px;
        font-size: 14px;
    }
    select{
        width: 82%;
        border: 0px;
    }
}
.date-txt{
    width: 70% !important;
    float: left;
    border: 0px solid black;
}
.date-txt-i{
    float: right !important;
    color: gray !important;
    background-color: white !important;
    background-image: none !important

}
.btn-next{
    background-color: #9f1b80;
    // background: #020024;
    // background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #470979), to(#00d4ff));
    background: linear-gradient(90deg, #9f1b80 0%, #561ede  100%);
    // background-image: linear-gradient(#9f1b80, #561ede);
    padding: 13px;
    text-align: center;
    color: white;
    border-radius: 50px;
}