<ion-content>
  <div class="row no-margin bg">
    <div class="col-12 login-img">
      <img src="../../../assets/cover1.png">
      <!-- <h3>Becha Kya !</h3> -->
      <span>Login</span>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <input type="text" class="form-control input-txt" id="formGroupExampleInput2"
          placeholder="Enter Your Mobile Number">
      </div>
    </div>
    <div class="col-12">
      <div class="reg-sec">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input type="password" class="form-control input-txt" id="formGroupExampleInput2" placeholder="Enter Your Password">
      </div>
    </div>
    <div class="col-12 forgot-pass">
      <p>Forgot Password ?</p>
    </div>
    <div class="col-12 center">
      <!-- <i class="fa fa-arrow-circle-right icon-arrow" aria-hidden="true"></i> -->
      <button type="button" class="btn btn-primary btn-lg btn-block sub-btn">Submit</button>
  </div>
  
    <div class="col-12">
      <span class="normal-txt">Or connect using</span>
    </div>
    <div class="col-12">
      <div class="row no-margin">
        <div class="col-6 padding5">
          <div class="social-boxf">
            <span><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</span>
          </div>
        </div>
        <div class="col-6 padding5">
          <div class="social-boxg">
            <span><i class="fa fa-google-plus" aria-hidden="true"></i>Google</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 signup">
      <span class="">Dont have an account ?<a routerLink="/register">Sign Up</a></span>
    </div>



  </div>
</ion-content>