

.login-img{
    text-align: center;
}
.login-img img{
    width: 70%;
    margin: 20px 30px 0px 20px;
}
.login-img h3{
    font-weight: bold;
    color: #3e3c3c;
    font-family: sans-serif;
    
}
.login-img span{
    color: #827f7f;
    font-family: sans-serif;
    display: block;
    margin-top: 15px;
}
.reg-sec{
    width: 100%;
    padding: 6px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #d5d5da;
    margin: 10px 0px;
i{
    color: #0815b1;
    font-size: 22px;
    float: left;
    padding: 6px 0px 6px 6px;
    /* margin-left: 5px; */
    margin-right: 0px;
    width: 33px;
}
input{
    width: 83%;
    border: 0px;
}
}

.sub-btn{
    color: #f7f1f1;
    /* border: 1px solid black; */
    border-radius: 50px;
    background-color: #5f58f5;
    // margin: 10px 0px 20px 0px;
}s
.forgot-pass {
    overflow: hidden;
    display: block;
}
.forgot-pass p{
    float: right;
    margin: 10px 10px 0px 10px;
    color: #827f7f;
}
.normal-txt{
    color: #827f7f;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin-top: 39px;
}
.social-boxf{
    background-color: #5f58f5;
    // height: 35px;
    border-radius: 5px;
    color: #f9f6f6;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.social-boxf span{
    color: #f9f6f6;
    // line-height: 35px !important;
}
.social-boxf i{
    padding: 15px 15px 15px 0px;
    
}
.social-boxg{
    background-color: #ec4b4b;
    // height: 35px;
    border-radius: 5px;
    color: #f9f6f6;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.social-boxg span{
    color: #f9f6f6;
    // line-height: 35px !important;
}
.social-boxg i{
    padding: 15px 15px 15px 0px;
    
}
.padding5{
    padding: 5px;
}
.signup span{
    color: #827f7f;
    font-family: sans-serif;
    display: block;
    text-align: center;
    margin-top: 39px;
    // font-weight: bold;
}
.signup a{
    color: #5f58f5;
    font-weight: bold;
}
.icon-arrow{
    font-size: 45px;
    color: #5f58f5;
}
